<!-- components/footer.html -->
<footer class="footer footer-dark" id="footer">
  <div class="container grid grid--footer">
    <div class="logo-col">
      <a href="#" class="footer-logo">
        <img
          class="logo"
          alt="Secure Fly Logo"
          src="../assets/images/Secure Fly - Dark - transparent Background.png"
        />
      </a>

      <ul class="social-links dark">
        <li>
          <a class="footer-link" href="#"
            ><ion-icon
            class="social-icon"
            name="logo-tiktok"
            role="img"
            aria-label="logo tiktok"
          ></ion-icon
        ></a>
        </li>
        <li>
          <a class="footer-link" href="#"
            ><ion-icon
            class="social-icon"
            name="logo-youtube"
            role="img"
            aria-label="logo youtube"
          ></a>
        </li>
      </ul>

      <p class="copyright dark">
        Copyright &copy; <span id="currentYear"></span> by Securefly, Inc. All
        rights reserved.
      </p>
    </div>

    <nav class="nav-col dark">
      <p class="footer-heading dark">Company</p>
      <ul class="footer-nav dark">
        <li>
          <a class="footer-link dark-link" href="#">Über Secure Fly</a>
        </li>
        <li><a class="footer-link dark-link" href="#section-personal">Über mich</a></li>
        <li>
          <a class="footer-link dark-link" href="../assets/vcf/person.vcf"
            >VCard</a
          >
        </li>
      </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading dark">Ressourcen</p>
      <ul class="footer-nav">
        <li>
          <a class="footer-link dark-link" href="#">Datenschutz</a>
        </li>
        <li>
          <a class="footer-link dark-link" href="./impressum.html">Impressum</a>
        </li>
        <li>
          <a class="footer-link dark-link" href="#">Urheberrecht</a>
        </li>
        <li>
          <a class="footer-link dark-link" href="#anchorsection-kontakt"
            >Kontakt</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
