.container-contact-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: space-between;
}

.contact-section {
  flex: 1 1 400px;
}

.container-contact-form .kontakt-info .kontakt-form-input {
  width: 100% !important;
}

.container-contact-form .kontakt-math-problem .kontakt-math-solution-label {
  margin: 0 !important;
}

#submit-form-button {
  margin-top: 20px;
}

@media screen and (max-width: 1210px) {
  .container-contact-form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
  }

  .contact-section {
    width: 600px;
  }

  .kontakt-form .kontakt-form-group {
    text-align: center;
  }
}
