.header {
  clip-path: polygon(0 0, 100% 0, 100% 20vh, 0 40%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 180px, 0 250px);
  min-height: none;
}

.text-box {
  position: absolute;
  top: 4.6rem;
  left: 2rem;
  transform: translate(0, 0);

  text-align: center;
}

.section-about {
  margin-top: -80vh;
  margin-bottom: -15rem;
}
