@media screen and (max-width: 750px), screen and (max-height: 600px) {
  .item-description {
    font-size: 1.3rem;
  }

  .item-container-description {
    font-size: 1.3rem;
    height: 150px;
  }

  .item-modal-bg-item {
    width: 30%;
  }

  .modal-top-content {
    width: 70%;
  }

  .modal__description-item {
    height: 100%;
    overflow: auto;
  }

  .modal__description-item::-webkit-scrollbar {
    width: 7px;
  }

  .modal__description-item::-webkit-scrollbar-thumb {
    background-color: #344955f2;
    border-radius: 6px;
  }
}

@media screen and (max-height: 600px) {
  .modal-top-content {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .item-modal__header {
    flex: 1;
  }
}

@media screen and (max-height: 450px) {
  .modal-top-section {
    height: 230px;
  }

  .item-description {
    overflow: auto;
  }
}

@media screen and (max-height: 400px) {
  .modal-top-section {
    height: 210px;
  }

  .item-container-description {
    height: 130px;
  }
}

@media screen and (max-width: 700px) {
  .items-modal-container {
    display: none;
  }

  .item-modal {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .navigation-button {
    top: 2rem;
    right: 2rem;
  }

  .navigation-list {
    top: 120px;
  }

  .heading-primary-main {
    font-size: 2.5rem;
  }

  .heading-primary-sub {
    font-size: 1.2rem !important;
  }

  .button-v2-header,
  .button-v2-header:link,
  .button-v2-header:visited {
    font-size: 1.3rem;
    width: 20rem;
    padding: 12px 38px;
  }

  .logo {
    height: 12rem;
  }

  .section-about .heading-secondary {
    font-size: 2rem;
  }

  .composition {
    height: inherit;
  }

  .front-title {
    width: 70%;
  }

  .bg-item {
    width: 50%;
    height: 100%;
    opacity: 0.1;
    opacity: 0.3;
    mask-position: 0% 0%;
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }

  .container-items > .card-item:nth-child(odd) .bg-item {
    mask-image: linear-gradient(to left, #0a232f00, black 20%);
  }

  .container-items > .card-item:nth-child(even) .bg-item {
    mask-image: linear-gradient(to right, #0a232f00, black 20%);
  }

  .card-item {
    height: 280px;
  }

  .back-item {
    display: flex;
    flex-direction: column;
  }

  .back__heading-item {
    flex: 1;
    height: 100%;
    min-height: auto;
  }

  .container-list {
    height: auto;
  }

  .container-items .front__heading-item {
    padding: 10px;
  }

  .front__list-item {
    display: none;
  }

  .kontakt-form {
    padding: 2rem;
  }

  .kontakt-form-group {
    margin-bottom: 0;
  }

  .contact-section {
    font-size: 1.3rem;
  }

  .back__description-item {
    margin-left: 0;
  }

  .personal-text {
    font-size: 1.6rem;
  }
}
