.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-top-big {
  margin-top: 8rem;
}
.u-margin-top-huge {
  margin-top: 10rem;
}
.remove-margin-bottom {
  margin-bottom: 0 !important ;
}

.remove-row-gap {
  row-gap: 0 !important;
}

.u-move-medium-right {
  padding-left: 10%;
}
.u-move-small-right {
  padding-left: 5%;
}

.u-none-display {
  visibility: hidden;
}
